<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sviluppotrilo.trilo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".gui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.Preferiti">
        </activity>

        <activity android:name=".gui.Impostazioni">
        </activity>

        <activity android:name=".gui.Profilo"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".gui.CercaViaggio"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".gui.Mappa">
        </activity>

        <activity android:name=".gui.Social">
        </activity>

        <activity android:name=".gui.RisultatiCercaViaggio">
        </activity>

        <activity android:name=".gui.CercaStazione">
        </activity>

        <activity android:name=".gui.RisultatiCercaStazione">
        </activity>

        <activity android:name=".gui.AboutUs">
        </activity>

        <service
            android:name=".gui.Schedulatore"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>


</manifest>